<%= form_with model: category, url: path, data: { turbo: false } do |form| %>
  <% if category.errors.any? %>
  <ul>
      <% category.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
  </ul>
  <% end %>

  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, class: 'form-label' %>
  <%= form.submit class: 'btn btn-outline-dark' %>
<% end %>

